body {
}

.cart-container {
    margin: 50px auto;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

table {
    width: 100%;
}

.item-name {
    font-weight: 500;
    color: #495057;
}

.item-price {
    color: #28a745;
    font-weight: bold;
}

.action-button {
    color: #fff;
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

    .action-button:hover {
        background-color: #c82333;
    }

.product-image {
   /* max-width: 30%;
    height: auto;
    margin-bottom: 10px;*/
   object-fit: cover;
   height: 200px;
   width: 100%;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
    border: none;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.card-text {
    color: #28a745;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}