@model IEnumerable<ShoppingCart_MVC.Models.Item>
<h1>Shopping Cart</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
            </tr>
        }

    </tbody>




</table>
